/ManishDubey/Case-Study/.idea/workspace.xml
/ManishDubey/Case-Study/Case-Study.iml
/GaneshDeshvini/CaseStudy/HelpdeskSystem.iml
/GaneshDeshvini/CaseStudy/.idea/*
/GaneshDeshvini/CaseStudy/out/*
/YogeshMali/.idea/*
/YogeshMali/CaseStudy/.idea/*.*
/YogeshMali/out/*
/GaneshDeshvini/CaseStudy/CaseStudy.iml
/YogeshMali/CaseStudy/CaseStudy.iml
/ManishDubey/.idea/*
/EvansBelly/.idea/*
