/virendra/TicketMaster/.idea/.name
/virendra/TicketMaster/.idea/compiler.xml
/virendra/TicketMaster/.idea/copyright/profiles_settings.xml
/virendra/TicketMaster/.idea/encodings.xml
/virendra/TicketMaster/.idea/libraries/junit_junit_4_12.xml
/virendra/TicketMaster/.idea/misc.xml
/virendra/TicketMaster/.idea/modules.xml
/virendra/TicketMaster/.idea/workspace.xml
# Ignore everything in this directory
EvansBelly/caseStudy/.idea/*
EvansBelly/caseStudy/out/*
*.class
*.jar
# Except this file
!.gitignore
