TicketMaster/.idea/compiler.xml 
TicketMaster/.idea/copyright 
TicketMaster/.idea/description.html 
TicketMaster/.idea/dictionaries 
TicketMaster/.idea/encodings.xml 
TicketMaster/.idea/libraries 
TicketMaster/.idea/misc.xml 
TicketMaster/.idea/modules.xml 
TicketMaster/.idea/project-template.xml 
TicketMaster/.idea/uiDesigner.xml 
TicketMaster/.idea/workspace.xml
